.red {
    background-color: #EE352E;
    width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}
.green {
  background-color: #00933C;
  width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}

.purple {
    background-color:#B933AD;
    width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}
.blue {
    background-color:#0039A6;
    width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}
.orange {
    background-color:#FF6319;
    width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}
.blue{
    color:blue;
    width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}
.brown{
    background-color:#996633;
    width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}
.grey{
   background-color:#808183;
   width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}
.yellow{
    background-color:#FCCC0A;
    width:45px;
    height:45px;
    border-radius: 450%;
    color:white;
}










/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}